<div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Formulario</h2>
        <form [formGroup]="miFormulario" (submit)="onSubmit(miFormulario)">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Ingresa Nombre">
                <div class="errorCss" *ngIf="miFormulario.controls.nombre.errors">
                    el campo contiene un error
                </div>
          </div>
          <div class="form-group">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Ingresa Apellido">
                <div class="errorCss" *ngIf="miFormulario.controls.apellido.errors">
                  el campo contiene un error
                </div>
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="text " formControlName="email" class="form-control" id="email" placeholder="Ingresa Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="errorCss" *ngIf="miFormulario.controls.email.errors">
                  el campo contiene un error
               </div>
          </div>
          <button type="submit" class="btn btn-primary"> Guardar</button>
        </form>
      </div>
    </div>
</div>